<%- include ('templates/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <h3> QUOTES </h3>
        <a class='btn btn-primary' href='/home'>Home</a>
    </div>
    
        <h3>Quotes from <%=name%></h3>
        <ul>
            <%quotes.forEach(function(q){%>
                <li>
                    <%=q.quote%></br>
        
                </li>
            <% });%>
        </ul>
</div>

<%- include ('templates/footer'); -%>